@import url(//fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono);

/*Color scheme changes
	FF-FF-FF to FD-FD-FD

*/

/* Basic element styles */
	* {}
	html {}

	body {
		padding:30px;
		font:17px/1.5 "Lora", "Helvetica Neue", Arial, sans-serif;
		text-shadow: rgba(0,0,0,0.2) 0px 1px;
		color: #616161;
		font-weight:400;
		height: 100%;
		background: #FFFFFF;
	}

	p {
		font-size: 1em;
		margin: 0 0 1.33em;
	}

	a {
		color:#3399CC;
		font-weight:400;
		text-decoration:none;
	}
		a small {
			font-size: 0.66em;
			color:#777;
			margin-top:-0.6em;
			display:block;
		}

	hr {
		border:0;
		background:#e5e5e5;
		height:1px;
		margin: 0 0 20px;
	}

	h1, h2, h3, h4, h5, h6 { color: #222; transition: all 0.3s ease 0s;}
		h1, h2, h3 {
			line-height:1.1;
		}
			h1 {
				font:30px/1.5 "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 2em;
				font-weight: 400;
				/*margin:0 0 1.33em;*/
				margin: 0;
				text-shadow: rgba(0,0,0,0.2) 1px 1px;
			}
			h2 {
				font-size: 1.7em;
				font:26px/1.5 "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
				color:#393939;
				margin: 0 0 0.33em;
			}
		h3, h4, h5, h6 {
			margin:0 0 1.33em;
			margin-left: 2em;
			color:#494949;
			text-decoration: underline;
		}
			h3 { font-size: 1.2em;}
			h4 { font-size: 1.1em;}
			h5 { font-size: 0.8em;}
			h6 { font-size: 0.5em;}

	em, strong {
		font-family: "Lora", sans;
		text-decoration: italic;
	}

	strong {
		font-weight: 400;
		font-style: italic;
		text-decoration: underline;
	}

	small {
		font-size:0.734em;
		line-height: 0.6em;
	}

	pre, code {
		font-family : "Ubuntu Mono", Lucida Console, Terminal;
		color:#333;
		font-size: 0.95em;
		line-height: 1.0em;
		/*text-shadow: none;*/
	}

	pre {
		padding:0.6em 1em;
		background: #F5F5F5;
		border-radius:0.33em;
		border:1px solid #e5e5e5;
		overflow-x: auto;
	}

	pre em, pre strong { font-family: "Ubuntu Mono", Terminal; font-size: 0.95em;}

	blockquote {
		border-left:1px solid #e5e5e5;
		margin:0;
		padding:0 0 0 1.33em;
		font-style:italic;
	}

	ul, ol, table, pre, dl {
		margin:0 0 0.33em;
	}
	ul { list-style-type: circle;}
		ul li {
			padding: 0.2em;
		}

	table{
		width: 100%;
		padding: 0.66em;
		border-collapse:collapse;
	}
		th, td {
			/*text-align:center;*/
			color:#444;
			text-align:left;
			padding:0.33em 0.66em;
			border-bottom:1px solid #e5e5e5;
		}

	img {
		max-width:100%;
		border: 1px solid #777;
	}

	span{}

	form {}
		input {}

/*-- ######################################################## -- */

/* Page layout styles */
	header, aside, footer {
		/*min-width: 387px;*/
		width:25.5%;
		float:left;
		position:fixed;
	}

	nav {
		margin-bottom: 1.33em;
		position:static;
		z-index:15;
	}

	aside {
		overflow: hidden;
		margin-top: 3em;
		padding: 1em;
		z-index: 10;
		background: #FFFFFF;
		border-radius: 0.2em;
		border-right: 1px solid #f5f5f5;
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
		aside:hover {
			-webkit-box-shadow: 6px 3px 12px -3px rgba(0,0,0,0.2); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			-moz-box-shadow: 6px 3px 12px -3px rgba(0,0,0,0.2); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			box-shadow: 6px 3px 12px -3px rgba(0,0,0,0.2); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
		}

	section {
		width: 67.5%;
		float: right;
		margin-bottom:2em;
		z-index: 5;
	}

	article {
		padding: 1em;
		padding-top: 0;
		border-radius: 0.2em;
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
		/* article:hover {
			-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.05); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			/*-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.05); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			/*box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.05); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
		/*}*/


	footer {
		/*margin-top: 340px;*/
		bottom:0em;
		overflow: hidden;
		z-index: -1;
	}
		footer p {
			margin: 0.5em;
		}

/*-- ######################################################## -- */

/* Classes */
	.clear { clear: both;}
	.full-width { width: 100%;}
	.no-margin { margin: 0;}
	.no-padding { padding: 0;}
	.left {
		float: left;
		text-align: left;
	}
	.center {
		float: none;
		text-align: center;
	}
	.right {
		float: right;
		text-align: right;
	}

	/* navigation buttons */
	.nav-item {
		background: #FFFFFF;
		font-size: 1.1em;
		padding: 0.3em;
		margin-bottom:5px;
		border-radius: 6px;
		border: 1px solid #F5F5F5;
		min-width: 4em;
		/*-webkit-box-shadow: 0 2px 6px -2px rgba(0,0,0,0.35);
		-moz-box-shadow: 0 2px 6px -2px rgba(0,0,0,0.35);
		box-shadow: 0 1px 3px -3px rgba(0,0,0,0.35);*/
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
		.nav-item:hover {
			/*background: #3A3535;
			color: #FFFFFF;*/
			-webkit-box-shadow: 0 2px 6px -2px rgba(0,0,0,0.35);
			-moz-box-shadow: 0 2px 6px -2px rgba(0,0,0,0.35);
			box-shadow: 0 2px 6px -2px rgba(0,0,0,0.35);
		}

	/* contacts box */
	.nameage {
		text-align: center;
		padding-top: 0.7em;
	}

	.contactbox {
		font-family: "Roboto Slab", sans;
		text-align: center;
		padding:0.6em 1em;
		/*background: #fAfAfA;*/
		width: 80%;
		border-radius:2em;
		border:1px solid #e5e5e5;
		overflow-x: auto;
		padding: 1.5em 1em;
		margin: 0.6em 5%;
		-moz-box-shadow: 0 0 7px rgba(0,0,0,0.3) inset, 0 0 10px rgba(0,0,0,0.1) inset;
		-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3) inset, 0 0 10px rgba(0,0,0,0.1) inset;
		box-shadow: 0 0 7px rgba(0,0,0,0.3) inset, 0 0 10px rgba(0,0,0,0.1) inset;
		-o-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}

		aside:hover .contactbox {
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4) inset, 0 0 40px rgba(0,0,0,0.05) inset;
			-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4) inset, 0 0 40px rgba(0,0,0,0.05) inset;
			box-shadow: 0 0 10px rgba(0,0,0,0.4) inset, 0 0 40px rgba(0,0,0,0.05) inset;
		}
		.contactbox a {
			display: block;
			color: inherit;
		}
		.contactbox .contacticon {
			height: 30px;
			width: 30px;
			vertical-align: middle;
			border:0px;
			opacity:0.53;
			filter: alpha(opacity=53); /* IE8- compatibility*/
		}
			/*.contactbox .contacticon:hover {
				opacity: 0.25;
				filter: alpha(opacity=25); /* IE8- compatibility*/
			/*}*/

	/* page contents in articles */
	.anchor {
		display: inline-block;
		width: 100%;
	  	/*visibility: hidden;*/
		padding-top: 2.5em;
	}
		.anchor h2 { /*github project in /projects/*/
			float: left;
			margin-bottom:0;
		}
		.tagit { /*github link in /projects/*/
			float: right;
			padding: 0 1em 3px;
			background:#F9F9F9;
			border-radius: 0.66em;
			margin-left: 0.33em;
			margin-top: 0.6em;
			transition: all 0.3s ease 0s;
		}
			.tagit:hover {
				border: 1px solid #EEEEEE;
				background: #FAFAFA;
				-webkit-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.2);
				-mozilla-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.2);
				box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.2);
			}

	.section_tabs {
		display: block;
	}

	/*.boxtext { /*boxed links*/
	/*	padding: 0px 3px 3px;
		background:#e5e5e5;
		border-radius: 0.33em;
	}*/

	.tabs {}
		 .tabs ul li{
			text-align: left;
			display: block;
			background: #f9f9f9;
			border-radius:0.33em;
			border:1px solid #e5e5e5;
			margin-bottom: 1em;
			/*margin-left:-3.33em;
			margin-right: 1%;*/
			transition: all 0.3s ease 0s;
		}
			.tabs ul li a {
				padding-left: 1em;
				display: block;
				width: auto;
				height: 100%;
			}

		.tabs ul li:hover {
			/*background: #FCFCFC;*/
			border: 1px solid #EEEEEE;
			background: #FCFCFC;
			-webkit-box-shadow: 0px 5px 6px -5px rgba(0,0,0,0.2);
			-mozilla-box-shadow: 0px 5px 6px -5px rgba(0,0,0,0.2);
			box-shadow: 0px 6px 6px -5px rgba(0,0,0,0.2);
		}

	/* scroll to top button */
	.btntop {
		visibility: hidden;
	}

/*-- ######################################################## -- */

/* Elements */
	#contents-wrapper {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

/*-- ######################################################## -- */

/* Responsive properties */
	@media screen and (max-width: 960px) {

		body { background: #F5F5F5;}

		#contents-wrapper {
			width: auto;
			margin: 0;
		}

		header, aside, section {
			float:none;
			position:static;
			width:auto;
		}
			header a small {
				display:inline;
			}
			nav {
				top:0em;
				right:0;
				width:100%;
				position: fixed;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				/*margin-right:1em;*/
				margin-bottom: 6.33em;
				background: #FFFFFF;
				box-shadow: 0 -4px 8px 3px rgba(0,0,0,0.5);
			}

		aside {
			margin-top: 2em;
			overflow: hidden;
			padding-bottom: 1em;
			border-right: none;
			border-bottom: 1px solid #f5f5f5;
			-webkit-box-shadow: 0 3px 8px -3px rgba(0,0,0,0.1); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			-moz-box-shadow: 0 3px 8px -3px rgba(0,0,0,0.1); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			box-shadow: 0 3px 8px -3px rgba(0,0,0,0.3); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/

			/*-moz-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.2);*/
			/*-webkit-box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.2);*/
			/*box-shadow: 0px 9px 5px -5px rgba(0,0,0,0.2);*/
		}
			aside:hover {
				-webkit-box-shadow: 0 6px 12px -3px rgba(0,0,0,0.25); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
				-moz-box-shadow: 0 6px 12px -3px rgba(0,0,0,0.25); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
				box-shadow: 0 6px 12px -3px rgba(0,0,0,0.25); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			}
			.nameage {
				float:left;
				width: 40%;
			}
			.contactbox {
				float: right;
				width: 49%;
				padding: 1em;
				margin: 1em 0.5em 1em 0.5em;
			}
				.contactbox a { margin-bottom: 0.3em;}

		section { background: #F5F5F5; margin-bottom: 4em;}

		article {
			background: #FFFFFF;
			margin-top: 1.4em;
			padding-top: 1.2em;
			padding-bottom: 0.5em;
			overflow: auto;
			-webkit-box-shadow: 0 4px 8px -3px rgba(0,0,0,0.1); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			-moz-box-shadow: 0 4px 8px -3px rgba(0,0,0,0.1); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
			box-shadow: 0 4px 8px -3px rgba(0,0,0,0.3); /*, 4px -6px 5px -5px rgba(0,0,0,0.2), 4px 6px 5px -5px rgba(0,0,0,0.2);*/
		}

		footer { position: fixed; width: 87%;} 

		.tabs ul li{
			text-align: center;
			padding: 0.66em 0;
			margin-bottom: 1em;
		}

		.anchor { padding-top: 1.5em;}

		.btntop {
			position: fixed;
			text-align:center;
			font-size: 0.66em;
			line-height: 1em;
			bottom:0px;
			right: 0px;
			visibility: visible;
			z-index: 5;
		}
	}
	@media screen and (max-width: 720px) {
		body {
			word-wrap:break-word;
		}

			pre, code {
				word-wrap:normal;
			}

			h1 { font-size: 1.7em;}
			h2 { font-size: 1.5em;}
			h3 { font-size: 1.3em;}

			header {
				padding:0;
			}

			header ul, header p.view {
				position:static;
			}


			/* fitting project head and tagit in single line*/
			.tagit {
				font-size: 0.85em;
				padding: 0 1em 3px;
				margin-left: 0.3em;
				margin-top: 0.65em;
			}
	}
	@media screen and (max-width: 640px) {
		.nameage {
			float: none;
			width: auto;
		}
		.contactbox {
			float: none;
			width: auto;
		}
			.contactbox a { margin-bottom: initial;}
	}
	@media screen and (max-width: 480px), handheld and (orientation: portrait) {
		body {
			padding:1em;
		}

			h1 { font-size: 1.4em; padding-top: 0.5em;} /* getting under nav without the padding*/
			h2 { font-size: 1.3em;}
			h3 { font-size: 1.1em;}

			header {
				padding-top:0.33em;
			}

			/*header ul {
				display:none;
			}*/
		
			/* trying to fit project head and tagit in single line*/
			.tagit {
				font-size: 0.75em;
				padding: 0 0.5em 3px;
				margin-left: 0.2em;
				margin-top: 1.5em;
			}
	}
	@media screen and (max-width: 320px) {}
	@media print {
		body {
			padding:0.4cvin;
			font-size:12pt;
			color:#444;
		}
	}
